---
---
@import "{{ site.theme }}";
@import "projects.css";
.wrapper { max-width: 1200px; width: 90%; }

/* Enlarge site title and description */
header h1 {
  font-size: 250%;
}

header p:not(.view) {
  font-size: 150%;
  width: 100%;
}
